.blogRowSpacer {
  height: 15px;
}

.blackBar{
   width:100%;
   height:120px;
   background-color: #333;
}

.title {
  color: white;
  position: absolute;
  top: 60px;
}

body {
  padding-top: 80px;
}

.aStyle {
  text-decoration: none;
}

.aStyle:hover {
  text-decoration: none;
}

.hrStyle {
  border-top: 5px solid #555;
}

.icon-group {
  padding: 25px;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 10px;
}

.image-blurb {
  padding-bottom: 15px;
}
.social-blurb {
  padding-bottom: 15px;
  padding-left: 15px;
}

.icon-spacer {
  padding-left: 5px;
}
.icon-spacer {
  padding-right: 10px;
}
/* Added by for Hamburger Menu below

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #FFFFFF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
